body {
    background: -webkit-linear-gradient(left, #eeeeee, #eeeeee);
    background: linear-gradient(to bottom right, #eeeeee, #eeeeee);
    font-family: 'Roboto Mono';
}

.centered-content {
    text-align: center;
}

.exercise-title {
    color: rgba(50, 50, 50, 1);
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

h5 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

/* list item */
li {
    font-family: 'Roboto Slab', serif;
    /* text-align: center; */
}

/* Cryptocurrency ranking by global market cap. */
.main-title {
    color: rgba(50, 50, 50, 1);
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
}

/* ordered list */
ol {
    padding-bottom: 50px;
    padding-left: 25%;
    padding-top: 50px;
    padding-right: 25%;
}

/* paragraph */
p {
    font-family: 'Roboto Slab', serif;
}

section {
    margin: 75px;
}

table {
    width: 100%;
    table-layout: fixed;
}

/* class table-contents */
.table-contents {
    margin-top: 0px;
    border: 1px solid rgba(50, 50, 50, 0.3);
    /* background-color: rgba(0, 0, 0, 0.3); */
}

/* class table-header */
.table-header {
    background-color: rgba(50, 50, 50, 0.3);
}

/* table header: market cap */
.th-market-cap {
    text-align: right;
}

/* table data: market cap */
.td-market-cap {
    text-align: right;
}

/* table data */
td {
    border-bottom: solid 1px rgba(50, 50, 50, 0.3);
    color: #393e46;
    font-family: 'Roboto Mono';
    padding: 15px;
    vertical-align: middle;
}

/* table header */
th {
    color: rgba(50, 50, 50, 0.8);
    font-family: 'Roboto Mono';
    /* font-weight: 500; */
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}
