/* body styling */
body {
    background: -webkit-linear-gradient(left, #0f1123, #0f1123);
    background: linear-gradient(to bottom right, #0f1123, #0f1123);
    font-family: 'Roboto Mono';
}

/* button class */
.button-gradient {
    /* Pour arrondir les bords du bouton */
    border-radius: 0.3rem; 
    /* Pour ajouter une ombre 2px portée d'ombre, 100px pour couvrir le bouton / inset pour une ombre intérieure*/
    box-shadow: 2px 100px 1px #0f1123 inset;
    /* Couleur du texte */
    color: #eeeeee;
    /* Marge et espacement */
    margin: 1rem;
    padding: 0.75rem;
    /* Police */
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    /* Bordure dégradée, transparent pour appliquer un background-clip*/
    border: solid 3px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 0)
    ), linear-gradient(75deg, #78e4ff, #ff48fa);
    transition: 0.3s;
    /* Déterminer l'origine du fond du bouton (le dégradé) */
    background-origin: border-box;
    /* Façon dont le background s'étend sous la bordure */
    background-clip: content-box, border-box;    
}

.button-gradient-alt {
    /* Pour arrondir les bords du bouton */
    border-radius: 0.3rem; 
    /* Pour ajouter une ombre 2px portée d'ombre, 100px pour couvrir le bouton / inset pour une ombre intérieure*/
    box-shadow: 2px 100px 1px #0f1123 inset;
    /* Couleur du texte */
    color: #eeeeee;
    /* Marge et espacement */
    margin: 1rem;
    padding: 0.75rem;
    /* Police */
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    /* Bordure dégradée, transparent pour appliquer un background-clip*/
    border: solid 3px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 0)
    ), linear-gradient(75deg, #78e4ff, #78ffd7);
    transition: 0.3s;
    /* Déterminer l'origine du fond du bouton (le dégradé) */
    background-origin: border-box;
    /* Façon dont le background s'étend sous la bordure */
    background-clip: content-box, border-box;
    width: 300px;    
}

/* hover over button */
.button-gradient:hover {
    color: #78e4ff;
}

.button-gradient-alt:hover {
    color: #78ffd7;
}

/* class to center content */
.centered-content {
    text-align: center;
    color: #eeeeee
}

/* exerice titles */
.exercise-title {
    color: #eeeeee;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

a {
    color: #78e4ff;
}

a:visited {
    color: #78ffd7;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

h5 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

/* input styling */
input {
    background-color: #0f1123;
    border: solid 2px #eeeeee;
    border-radius: 0.3rem;
    color: #78e4ff;
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    margin: 0.25rem;
    padding: 0.75rem;
    width: 200px;
}

/* list item */
li {
    font-family: 'Roboto Slab', serif;
    color: #78e4ff
    /* text-align: center; */
}

/* page main title */
.main-title {
    color: #eeeeee;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
}

/* ordered list */
ol {
    color: #eeeeee;
    padding-bottom: 50px;
    padding-left: 25%;
    padding-top: 50px;
    padding-right: 25%;
}

/* paragraph */
p {
    font-family: 'Roboto Slab', serif;
}

.padding-80 {
    padding-left: 20%;
    padding-right: 20%;
    color: #eeeeee;
}

::placeholder {
    color: #eeeeee;
}

section {
    margin: 75px;
}

.sub-title {
    color:#78e4ff;
}

table {
    width: 100%;
    table-layout: fixed;
}

/* class table-contents */
.table-contents {
    margin-top: 0px;
    border: 1px solid rgba(238, 238, 238, 0.3);
    /* background-color: rgba(0, 0, 0, 0.3); */
}

/* class table-header */
.table-header {
    background-color: rgba(238, 238, 238, 0.3);
}

/* table header: market cap */
.th-market-cap {
    text-align: right;
}

/* table data: market cap */
.td-market-cap {
    text-align: right;
}

/* table data */
td {
    border-bottom: solid 1px rgba(238, 238, 238, 0.3);
    color: #eeeeee;
    font-family: 'Roboto Mono';
    padding: 15px;
    vertical-align: middle;
}

/* table header */
th {
    color: rgba(238, 238, 238, 0.8);
    font-family: 'Roboto Mono';
    /* font-weight: 500; */
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}
